<!--<div class="drop-container">
    <ul class="collapsible ">
       {% for course in courses %}
       <li>
          <!---------- Title----------->
          <div class="collapsible-header center-align">
            <div class="row ">
               <ul class="list-inline">
                  <li>
                     <h4 class="course-header text-shadow"> {{course.name }}<i class="fas fa-caret-down"></i></h4>
                  </li>
                 
                 
               </ul>
            </div>
         </div>
         <!---------- Body---------->
         <a href="#" id="scroll" style="display: none;"><span></span></a>
         <div class="collapsible-body">
           
            <img src="{{MEDIA_URL}}{{ course.image }}" width="400" height="400" class="image" alt="image"><br>
            
            <p><span class="highlight"> </span> {{ course.name }}</p><br>
            {{ course.description }}<br>
            <p><span class="highlight"> Price</span>{{ course.price }}</p>
            <p><span class="highlight">Start</span> {{ course.start_date }}</p>
            <p><span class="highlight">Finish</span> {{ course.end_date }}</p>
            <p><span class="highlight">Number of hours</span> {{ course.hours }}</p>
          </div>
      </li>
      {% endfor %}
   </ul>
</div>-->


{
   "model": "courses.course",
   "pk": 7,
   "fields": {
     "name": "Exam Preparation",
     "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
     "price": 100.00,
     "image_url": "https://unsplash.com/photos/s9CC2SKySJM",
     "image" : "exams.jpg",
     "start_date" : "01-01-2021",
     "end_date": "31-12-2021",
     "hours" : "50"
     
  }

  {% url 'exam_course_detail' exam_course.id %}